*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --clr-dark: #02032c;
  --clr-darkmode: #121212;
  --clr-primary: #ff3826;
  --clr-link: #ff6262;
  --clr-light: #edf0f1;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;
}

body {
  background-color: var(--clr-light);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  color: var(--clr-dark);
  line-height: 1.6;
}

/* Nav Container */
.nav__container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
header {
  background-color: var(--clr-light);
  padding: 1em;
  display: flex;
  align-items: center;
  position: relative;
}

/* Line at bottom of header */
header::after {
  content: "";
  position: absolute;
  background: var(--clr-dark);
  opacity: 0.3;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Logo */
.logo {
  width: 65px;
  margin: 0;
  margin-right: 18rem;
}

/* Nav bar */
.nav__list {
  text-align: right;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1em;
  list-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: var(--fw-light);
  color: var(--clr-primary);
  font-size: 1rem;
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  margin: 1.5rem;
}

/* To Hide Check box */
.nav__toggle {
  display: none;
}

/* Main */

.main {
  max-width: 1024px;
  margin: auto;
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}

.main__greet {
  font-size: 1.875rem;
  font-weight: var(--fw-normal);
}

.main-title {
  line-height: 1;
  font-size: 3.25rem;
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
  padding: 0.25em 0em;
}

.main__intro {
  font-size: 2.5rem;
  line-height: 1.25;
}

.main__intro span {
  color: var(--clr-link);
  text-decoration: underline;
}

.main__desc {
  padding: 1em 0em;
  font-weight: var(--fw-normal);
  opacity: 0.8;
  font-size: 1.25rem;
}

.main__illustration {
  padding-left: 4em;
  width: 512px;
}

/* Main End */

/* IPAD */
@media screen and (max-width: 1200px) {
  header {
    position: relative;
  }

  .logo {
    width: 75px;
    margin: 0;
  }

  /* Hamburger Menu */

  .nav {
    opacity: 0;
    transition: opacity 150ms ease-in;
  }

  .nav__toggle-label {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 12%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav__toggle-label span,
  .nav__toggle-label span::before,
  .nav__toggle-label span::after {
    background: var(--clr-primary);
    height: 4px;
    width: 2.125rem;
    border-radius: 8px;
    position: relative;
  }

  .nav__toggle-label span::before,
  .nav__toggle-label span::after {
    content: "";
    position: absolute;
  }

  .nav__toggle-label span::before {
    bottom: 10px;
    width: 50%;
  }

  .nav__toggle-label span::after {
    top: 10px;
    width: 75%;
  }

  .nav__list {
    position: absolute;
    justify-content: space-around;
    text-align: center;
    top: 0%;
    width: 100%;
    height: 100vh;
    left: 0;
    flex-direction: column;
    background-color: var(--clr-light);
    z-index: 990;
  }

  .nav__link {
    font-size: 30px;
    color: var(--clr-primary);
  }

  .nav__toggle:checked ~ nav {
    opacity: 1;
    transition: opacity 150ms ease-in;
  }

  .main {
    max-width: 612px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 2em;
  }

  .main-title {
    font-size: 2.5em;
    padding: 0.25em 0em;
  }

  .main__illustration {
    width: 374px;
    padding: 0;
  }
}
/* IPAD ends */

/* Mobile screen */
@media screen and (max-width: 650px) {
  .main {
    max-width: 600px;
    margin: 1.5em 2em;
    align-items: center;
  }

  .main__greet {
    font-size: 1.5em;
  }

  .main__intro {
    font-size: 1.5em;
  }

  .main__desc {
    font-size: 0.875em;
  }

  .main__illustration {
    width: 300px;
  }
}
/* Mobile Screen Ends */
