*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --clr-dark: #02032c;
  --clr-darkmode: #121212;
  --clr-primary: #ff3826;
  --clr-link: #ff6262;
  --clr-light: #edf0f1;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;
}

body {
  background-color: var(--clr-light);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  color: var(--clr-dark);
  line-height: 1.6;
}

/* Nav Container */
.nav__container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
header {
  background-color: var(--clr-light);
  padding: 1em;
  display: flex;
  align-items: center;
  position: relative;
}

/* Line at bottom of header */
header::after {
  content: "";
  position: absolute;
  background: var(--clr-dark);
  opacity: 0.3;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Logo */
.logo {
  width: 65px;
  margin: 0;
  margin-right: 18rem;
}

/* Nav bar */
.nav__list {
  text-align: right;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1em;
  list-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: var(--fw-light);
  color: var(--clr-primary);
  font-size: 1rem;
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  margin: 1.5rem;
}

/* To Hide Check box */
.nav__toggle {
  display: none;
}
